

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">
                    Kho Dữ Liệu Gmail</h3>
            </div>
            <div class="card-close">
                <button class="btn btn-success btn-sm" id="exportExcel">Xuất excel</button>
                <button class='btn btn-danger btn-sm' id="selectAll" value="selectAll">
                    Chọn tất cả
                </button>
                <button class='btn btn-info btn-sm' id="copyAllSelected" value="copyAllSelected">
                    Copy
                </button>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="tableListKhoDuLieu" style="display:none">
                        <thead>
                            <th>#</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Password LZD</th>
                            <th>isGet</th>
                            <th>Trạng Thái</th>
               
                        </thead>
                        <tbody style="color:black">
                            {{#each listData}}
                            <tr>
                                <td>
                                    <div class="i-checks">
                                        <input type="checkbox" id="checkBoxSelected"
                                            class="checkbox-template checkBoxSelected" dataCopy="{{ this.username }}">
                                        <label for="checkBoxSelected">{{ add @index 1 }}</label>
                                    </div>
                                </td>
                                <td>{{this.username}}</td>
                                <td>{{this.password}}</td>
                                <td>{{this.passwordLZD}}</td>

                                <td>
                                    {{#if this.isGet}}
                                    <p class="text-success">Đã Lấy Dữ Liệu</p>
                                    {{ else }}
                                    
                                    {{/if}}
                                </td>
                                <td><p class="text-info">{{this.moTa}}</p></td>


                            </tr>
                            
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>